.chat .chatContent .first, .chat .chatContent .second {
  font-size: 8px;
  margin: 5px;
  padding: 5px 10px;
  width: 60%;
  border-radius: 10px 10px 10px 4px;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

body {
  background-color: #F5F3F8;
}

.chat {
  position: relative;
  width: 50%;
  float: left;
  overflow: hidden;
  height: 100vh;
}

.chat:before {
  position: absolute;
  content: "";
  width: 65%;
  height: 80vh;
  background-image: linear-gradient(#e942ff, #8838ff);
  top: 0;
  left: -20%;
  border-radius: 0 0 168% 219%;
}

.chat .chatContent {
  position: absolute;
  top: 110px;
  left: 240px;
  background-color: #F5F3F8;
  width: 230px;
  border: 10px solid #FFF;
  border-radius: 20px;
  -webkit-box-shadow: 10px 10px 40px #F5F3F8;
  -moz-box-shadow: 10px 10px 40px #F5F3F8;
  box-shadow: 10px 10px 40px #F5F3F8;
}

.chat .chatContent .avatar {
  width: 100%;
  height: 70px;
  background-image: linear-gradient(to left, #e942ff, #8838ff);
  border-radius: 15px 15px 5px 5px;
  overflow: hidden;
  padding: 25px 10px 0;
  color: #F5F3F8;
}

.chat .chatContent .avatar > span {
  display: block;
  position: absolute;
  top: 0;
  height: 15px;
  width: 120px;
  background-color: #FFF;
  left: 45px;
  border-radius: 0 0 10px 10px;
}

.chat .chatContent .avatar .avatarIcon {
  float: left;
  margin-top: 8px;
  margin-right: 10px;
}

.chat .chatContent .avatar .avatarImg {
  width: 30px;
  height: 30px;
  float: left;
  margin-right: 10px;
}

.chat .chatContent .avatar .avatarImg img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid #FFF;
}

.chat .chatContent .avatar .avatarName {
  float: left;
}

.chat .chatContent .avatar .avatarName h5 {
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 5px;
}

.chat .chatContent .avatar .avatarName span {
  display: block;
  font-size: 9px;
  color: #bbb7b7;
}

.chat .chatContent .avatar .listIcon {
  float: right;
  border-radius: 50%;
}

.chat .chatContent .avatar .listIcon ul {
  list-style: none;
  margin-top: 10px;
}

.chat .chatContent .avatar .listIcon ul li {
  background-color: #F5F3F8;
  margin: 2px;
  width: 2px;
  height: 2px;
}

.chat .chatContent .first {
  background-color: #EDE4F6;
  color: #8838ff;
}

.chat .chatContent .second {
  background-color: #FFF;
  color: #3e2753;
  margin-left: auto;
  border-radius: 10px 10px 4px 10px;
}

.chat .chatContent .record {
  background-image: linear-gradient(to right, #e942ff, #8838ff);
  overflow: hidden;
  color: #F5F3F8;
  height: 28px;
}

.chat .chatContent .record .recordIcon {
  float: left;
  width: 15px;
  height: 15px;
  margin-top: 1px;
}

.chat .chatContent .record .recordIcon img {
  width: 100%;
  height: 100%;
}

.chat .chatContent .record .recordDesc {
  float: left;
  font-size: 6px;
  margin-left: 3px;
  margin-top: 4px;
}

.chat .chatContent .record .recordHeading {
  float: right;
  font-weight: 900;
}

.chat .chatContent .message {
  overflow: hidden;
  background-color: #FFF;
  padding: 6px 15px;
  border-radius: 20px;
  margin: 8px;
  color: #a39daa;
}

.chat .chatContent .message span {
  font-size: 9px;
}

.chat .chatContent .message i {
  float: right;
  font-size: 20px;
  font-weight: 900;
  background-color: #662fb7;
  border-radius: 50%;
  color: #FFF;
  width: 25px;
  height: 25px;
  line-height: 25px;
  padding-left: 10px;
}

.chat .chatContent .secondImages {
  overflow: hidden;
  margin-left: auto;
  margin-right: 6px;
}

.chat .chatContent .secondImages > div {
  width: 40px;
  height: 40px;
  float: right;
  margin: 5px;
}

.chat .chatContent .secondImages > div img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.booking {
  position: relative;
  width: 50%;
  float: left;
  height: 100vh;
  overflow: hidden;
}

.booking:before {
  position: absolute;
  content: "";
  background-color: #ececec;
  width: 65%;
  height: 80vh;
  bottom: 0;
  right: -20%;
  border-radius: 168% 219% 0 0;
  z-index: -1;
}

.booking .bookingContent {
  position: absolute;
  width: 65%;
  top: 37%;
}

.booking .bookingContent h2 {
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 25px;
  color: #3e2753;
}

.booking .bookingContent p {
  line-height: 1.5;
  color: #a39daa;
}

@media (max-width: 600px) {
  .chat {
    width: 100%;
  }
}

.chat .chatContent {
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 600px) {
  .booking {
    width: 100%;
    padding: 10%;
    margin-top: -100px;
  }
}

@media (max-width: 600px) {
  .booking .bookingContent {
    text-align: center;
    width: 80%;
    margin: auto;
  }
}

@media (max-width: 600px) {
  .booking:before {
    display: none;
  }
}
